# DATA UNDERSTANDING

Firstly, we will use the dataframe found with the course material, data collision in Seattle City.
https://www.coursera.org/learn/applied-data-science-capstone/supplement/Nh5uS/downloading-example-dataset?ranMID=40328&ranEAID=TnL5HPStwNw&ranSiteID=TnL5HPStwNw-0EQkbR5bKMC1m32WkPnVUg&siteID=TnL5HPStwNw-0EQkbR5bKMC1m32WkPnVUg&utm_content=10&utm_medium=partners&utm_source=linkshare&utm_campaign=TnL5HPStwNw

In [2]:
import pandas as pd 
df=pd.read_csv('Data-Collisions.csv')
df

C:\Users\dell\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194668,2,-122.290826,47.565408,219543,309534,310814,E871089,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,24,From opposite direction - both moving - head-on,0,0,N
194669,1,-122.344526,47.690924,219544,309085,310365,E876731,Matched,Block,NaN,...,Wet,Daylight,NaN,NaN,NaN,13,From same direction - both going straight - bo...,0,0,N
194670,2,-122.306689,47.683047,219545,311280,312640,3809984,Matched,Intersection,24760.0,...,Dry,Daylight,NaN,NaN,NaN,28,From opposite direction - one left turn - one ...,0,0,N
194671,2,-122.355317,47.678734,219546,309514,310794,3810083,Matched,Intersection,24349.0,...,Dry,Dusk,NaN,NaN,NaN,5,Vehicle Strikes Pedalcyclist,4308,0,N
194672,1,-122.289360,47.611017,219547,308220,309500,E868008,Matched,Block,NaN,...,Wet,Daylight,NaN,NaN,NaN,14,From same direction - both going straight - on...,0,0,N

Our target will be the severity code, it takes two values 1 or 2, it's the measure of the severity of an accident.

In [4]:
df["SEVERITYCODE"].value_counts(dropna=False)

1    136485
2     58188
Name: SEVERITYCODE, dtype: int64

Let's see what these values refers to

In [5]:
df["SEVERITYDESC"].value_counts(dropna=False)

Property Damage Only Collision    136485
Injury Collision                   58188
Name: SEVERITYDESC, dtype: int64

The data frame is an original one, so we have to extract our dataset. To doing so, there are many columns that we won't use. 
Besides the severity code we will keep WEATHER, which describes the weather at the time of crash, ROADCOND, which describes the condition of the road at the time of crash, LIGHTCOND, which describes the light conditions at the time of crash.ADDRTYPE, for collision address type.JUNCTIONTYPE,Category of junction at which collision took place.

In [6]:
df_new=df[["ADDRTYPE","JUNCTIONTYPE","WEATHER","ROADCOND","LIGHTCOND","SEVERITYCODE"]]
df_new

,ADDRTYPE,JUNCTIONTYPE,WEATHER,ROADCOND,LIGHTCOND,SEVERITYCODE
0,Intersection,At Intersection (intersection related),Overcast,Wet,Daylight,2
1,Block,Mid-Block (not related to intersection),Raining,Wet,Dark - Street Lights On,1
2,Block,Mid-Block (not related to intersection),Overcast,Dry,Daylight,1
3,Block,Mid-Block (not related to intersection),Clear,Dry,Daylight,1
4,Intersection,At Intersection (intersection related),Raining,Wet,Daylight,2
...,...,...,...,...,...,...
194668,Block,Mid-Block (not related to intersection),Clear,Dry,Daylight,2
194669,Block,Mid-Block (not related to intersection),Raining,Wet,Daylight,1
194670,Intersection,At Intersection (intersection related),Clear,Dry,Daylight,2
194671,Intersection,At Intersection (intersection related),Clear,Dry,Dusk,2
194672,Block,Mid-Block (not related to intersection),Clear,Wet,Daylight,1

Since the features ADDRTYPE,JUNCTIONTYPE,WEATHER,ROADCOND and LIGHTOND are categorical variables, we have to transform them into values or numerical variables when we have to start building our model of ML.

In [8]:
#we drop the Nan values and the unkown ones
import numpy as np
df_new.replace("Unknown", np.nan, inplace = True)
#drop the NaN values
df_new.dropna(subset=["ADDRTYPE","JUNCTIONTYPE","WEATHER","ROADCOND","LIGHTCOND"], axis=0, inplace=True)

df_new.reset_index(drop=True, inplace=True)

C:\Users\dell\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [12]:
from sklearn import preprocessing

addtyp = preprocessing.LabelEncoder()
addtyp.fit(df_new['ADDRTYPE'])
df_new['ADDRTYPE']=addtyp.transform(df_new['ADDRTYPE'])

junfct = preprocessing.LabelEncoder()
junfct.fit(df_new['JUNCTIONTYPE'])
df_new['JUNCTIONTYPE']=junfct.transform(df_new['JUNCTIONTYPE'])

weath = preprocessing.LabelEncoder()
weath.fit(df_new['WEATHER'])
df_new['WEATHER']=weath.transform(df_new['WEATHER'])

RdCond = preprocessing.LabelEncoder()
RdCond.fit(df_new['ROADCOND'])
df_new['ROADCOND']=RdCond.transform(df_new['ROADCOND'])
 
LghCond = preprocessing.LabelEncoder()
LghCond.fit(df_new['LIGHTCOND'])
df_new['LIGHTCOND']=LghCond.transform(df_new['LIGHTCOND'])


    
df_new.head()

C:\Users\dell\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\dell\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\dell\anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\dell\anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\dell\anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   ADDRTYPE  JUNCTIONTYPE  WEATHER  ROADCOND  LIGHTCOND  SEVERITYCODE
0         2             1        4         7          5             2
1         1             4        6         7          2             1
2         1             4        4         0          5             1
3         1             4        1         0          5             1
4         2             1        6         7          5             2